.dropdown {
  /* color: pink; */
  background-color: rgba(0, 0, 0, 0);

  opacity: 0.99;
  /* opacity: 0.1; */
}
.Accordian {
  /* height: 100vh;
  width: 100vw; */
  /* background-color: rgb(59, 63, 143); */
}
